/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/********** configuration **********/
:root{
    /** background color **/
    --application-background-color: #f5f5f5;
    /** Top form color **/
    --workflow-form-top-color: #2175c8;
    /** Select button color **/
    --workflow-from-select-button-color: #f5f5f5;
    /** Form body color **/
    --workflow-form-body-color: white;
    /** Submit button color **/
    --workflow-form-submit-color: #2175c8;
}

#required:after{
    content:" *";
    color: red;
}
body{
    background: var(--application-background-color);
    font-family: "adobe-clean-n4", "adobe-clean", Helvetica, Arial, sans-serif;
}

body,html{
    height:100%;
}

button, input, optgroup, select, textarea {
    font-size: 14px;
    padding: 10px;
    color: #2d2d2d;
}

.predefined_input{
    color: #2175c8;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    color: #4b4b4b;
}

h3{
    font-size: 16px;
    font-weight: bold;
    color: #2d2d2d;
}

h4{
    font-size: 14px;
}

/********** workflow_form **********/
#workflow_form{
    width: 40vw;
    background: var(--workflow-form-body-color);
    font-size: 20px;
    box-shadow: 0 10px 20px 5px grey;
    border-radius: 5px;
}

#workflow_form_top{
   background-color: var(--workflow-form-top-color);
}

#workflow_form_top_wrapper{
    padding: 20px 10px 20px 10px;
    margin: 0 15px 0 15px;
}

#workflow_form_bot_wrapper{
    padding: 20px 10px 20px 10px;
    margin: 0 15px 0 15px;
}

/********** workflow_selector **********/
#workflow_selector{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#option_submit_button{
    font-size: 15px;
    padding: 0 14px;
    line-height: 32px;
    font-weight: 400;
    min-width: 80px;
    width: 100%;
    background-color: var(--workflow-from-select-button-color);
    color: black;
}

#workflow_dropdown_label{
    font-size: 24px;
    color: white;
}

#workflow_dropdown{
    font-size: 14px;
    border-radius: 1px;
}

/********** dynamic_form **********/
.form_hidden{
    display: none;
}

#agreement_section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipient_label{
    margin-top: 10px;
}

.recipient_form_input{
    max-width: 100%;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    border: solid 1px #c2c2c2;
    border-radius: 5px;
}

#recipient_submit_button{
    margin-top: 10px;
    font-size: 15px;
    padding: 0 14px;
    line-height: 32px;
    font-weight: 400;
    min-width: 80px;
    width: 100%;
    background-color: var(--workflow-form-submit-color);
}

.recipient_title{
    text-align: center;
}

.error_message{
    text-align: center;
    margin: 20px;
}

.recipient_hidden{
    visibility: hidden;
    width: 0;
    height: 0;
}

.add_section{
    margin-bottom: 40px;
}

#add_button{
    width: 50%;
    float: left;
    padding: 5px;
}

#remove_button{
    width: 50%;
    float: right;
    padding: 5px;
}

.checkbox_input{
    margin-left: 10px;
    font-size: 16px;
}

#message_section{
    margin-bottom: 10px;
}

.error_msg{
    color: red;
}

.file_info_div h3{
    margin-top: 10px;
}

.file_info_div h4{
    margin: auto;
    width: 95%;
    padding: 10px;
}

.merge_input{
    width: 100%;
}

.merge_div h3{
    margin-top: 10px;
}

#merge_body{
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.merge_div{
    padding: 10px;
}

#button_section{
    width: 100%;
}

.upload_section h3{
    margin-top: 10px;
}

#upload_body{
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.option_wrapper{
    margin-top: 37px;
    border: 1px solid #c2c2c2;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 15px;
}

#deadline_input{
    width: 100%;
}

#reminder_dropdown{
    width: 100%;
}

.spinner-border {
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .80;
}

h3.recipient_label{
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    #workflow_form{
        width: 100vw;
    }

    .option_wrapper{
        margin: 10px 0 10px 0;
    }
}

@media only screen and (min-width: 600px) {
    #workflow_form{
        width: 100vw;
    }

    .option_wrapper{
        margin: 10px 0 10px 0;
    }
    
}

@media only screen and (min-width: 798) {
    #workflow_form{
        width: 60vw;
    }

    .option_wrapper{
        margin-top: 37px;
    }
}

@media only screen and (min-width: 992px) {
    #workflow_form{
        width: 60vw;
    }

    .option_wrapper{
        margin-top: 37px;
    }
}
