# This is the Dynamic Workflow configuration file.
#
# This file contains all the import information needed to run Dynamic Workflows.
# Please make sure that all your information is correct.

# This is the port that the express server should listen on if it is not provided by process.env.PORT
port: 80

# This is the server information needed to point the application to your Sign Console.
server:
  # The host address to your Sign Console.
  host:

  # DO NOT CHANGE THE FOLLOW TWO CONFIGURATION.
  # This is the endpoint
  endpoint: "/api/rest/v5"

# This is the enterprise setting to get access to your Sign Console.
enterprise:
  # This is your integration key for Adobe Sign. This key
  # is needed to get access to perform synchronization between Admin
  # Console and Adobe Sign.
  integration:

# This is the feature configuration.
features:
  # This feature will hide predefined recipients within your workflow.
  # yes to hide
  # no to show
  hide_predefined: yes

  # If hide_predefined is yes
  # HIDE ALL PREDEFINED RECIPIENTS ACROSS ALL WORKFLOWS:
  ## Comment out all the list items (-) by adding a # in front of it.

  # HIDE PREDEFINED RECIPIENTS WITH TARGET WORKFLOWS
  ## Add workflow names under hide_workflow_list such as " - Workflow name"
  hide_workflow_list:
    #- Notice how list items are comment out
    - "Workflow name here"
    - "Another workflow namer here"

  # This feature will hide predefined cc recipients within your workflow
  # yes to hide
  # no to show
  hide_cc: yes

  # If hide_cc is yes
  # HIDE ALL PREDEFINED CC RECIPIENTS ACROSS ALL WORKFLOWS:
  ## Comment out all the list items (-) by adding a # in front of it.

  # HIDE PREDEFINED CC RECIPIENTS WITH TARGET WORKFLOWS
  ## Add workflow names under hide_cc_workflow_list such as " - Workflow name"
  hide_cc_workflow_list:
    #- Notice how list items are comment out
    - "Workflow name here"
    - "Another workflow namer here"

  # Email regex to be used to restrict emails used during signing
  email_regex: ^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$

  # Error to display if there is an error with the email validation
  email_error_message: "There is a problem with your email address."
